useGUI=1
window_size=1024x768
map_width=50
map_length=40
bucketbot_size=1
bucket_size=1
station_size=2.0
tolerance=.4

bucket_capacity=40
bundle_size=2
letter_station_capacity=6
word_station_capacity=3

num_bucketbots=6
num_buckets=12
num_letter_stations=1
num_word_stations=2

bucket_pickup_setdown_time=1.0
letter_to_bucket_time=5.0
#letter_to_bucket_time=0.10
bucket_to_letter_time=5.0
#bucket_to_letter_time=0.10
word_completion_time=5.0
collision_penalty_time=1.0

max_acceleration=50.0
max_velocity=4.0

word_list_class=alphabetsoup.base.WordListBase

dictionary=Jargon.txt
letter_color0=0.7:255,0,0
letter_color1=0.21:0,255,0
letter_color2=0.09:0,0,255
number_of_words=4

initial_inventory=0.2

simulation_duration=0.0
simulation_warmup_time=400.0

random_seed=45230
